{% extends 'base.html' %}

{% block title %} dashboard | feeble {% endblock %}

{% block body %}

<section class="section">
    <div class="container">
        
        <h1 class="title has-text-centered">welcome to dashboard</h1>
        <h1 class="title">welcome {{ one_user.first_name}}</h1>

        <a href="{% url 'users:logout' %}" class="button">logout</a>
        <a href="{% url 'movies:new' %}" class="button">Add Movie</a>


        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>duration</th>
                    <th>released date</th>
                    <th>rated</th>
                    <th>options</th>
                </tr>
            </thead>
            <tbody>
                    {% for movie in all_movies %}
                    <tr>
                        <th>{{ movie.title }}</th>
                        <th>{{ movie.duration }}</th>
                        <th>{{ movie.released_date }}</th>
                        <th>
                            {% if movie.rated == 1 %}
                                PG-13
                            {% else %}
                                Rated-R
                            {% endif %}
                        </th>
                        <th>
                            <a href="/movies/{{ movie.id }}">show</a> |
                            <a href="/movies/{{ movie.id}}/edit">edit</a> |
                            <a href="/movies/{{ movie.id }}/delete">delete</a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        
    </div>
</section>


{% endblock %}