{% extends 'base.html' %}

{% block title %} Edit Movie | feeble {% endblock %}

{% block body %}

<section class="section">
    <div class="container">
        <div class="columns">
            <h1 class="title">Add New Movie</h1>
            <form  method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Title:</label>
                    <div class="control">
                        <input type="text" class="input" name="title" value="{{ movie.title }}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">duration</label>
                    <div class="control">
                        <input type="number" name="duration" class="input" value="{{ movie.duration }}">
                    </div>
                </div>
                <div class="field">
                    <label  class="label">Description:</label>
                    <div class="control">
                        <textarea name="description" class="textarea">{{ movie.description }}</textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Released Date:</label>
                    <div class="control">
                        <input type="date" name="released_date" class="input" value="{{ movie.released_date }}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Rated-R or PG-13?</label>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="rated" value="1" {% if movie.rated == 1 %} checked {% endif %}> 
                            Rated-R
                        </label>
                        <label class="radio">
                            <input type="radio" name="rated" value="2" {% if movie.rated == 2 %} checked {% endif %}>
                            PG-13
                        </label>
                    </div>
                </div>
                <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}