{% extends "base.html" %}

{% block title %} login & register | auth {% endblock %}

{% block body %}

<section class="section">
    <div class="container">
        <div class="columns">
            <!-- register -->
            <div class="column">
                <h1 class="
                has-text-weight-bold
                has-text-centered
                has-text-success-dark
                is-size-2
                is-family-sans-serif
                mb-4
                ">
                    Register
                </h1>
                <form action="{% url 'users:register' %}" method="post" class="box px-6">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">First Name:</label>
                        <div class="control">
                            <input type="text" class="input" name="first_name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Last Name:</label>
                        <div class="control">
                            <input type="text" class="input" name="last_name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email:</label>
                        <div class="control">
                            <input type="email" class="input" name="email">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password:</label>
                        <div class="control">
                            <input type="password" class="input" name="password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- login -->
            <div class="column">
                <h1 class="
                has-text-weight-bold
                has-text-centered
                has-text-warning-dark
                is-size-2
                is-family-sans-serif
                mb-4
                ">
                    login
                </h1>
                <form action="{% url 'users:login' %}" method="post" class="box px-6">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Email:</label>
                        <div class="control">
                            <input type="email" class="input" name="email">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password:</label>
                        <div class="control">
                            <input type="password" class="input" name="password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}