{% extends "base.html" %}

{% block title %} Register | Feeble {% endblock %}

{% block content %}

    <section class="section">
        <h1 class="title">Register</h1>

        <div class="container">
            <form action="#" method="post">
                <div class="field">
                    <label class="label">First Name:</label>
                    <div class="control">
                        <input type="text" class="input">
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}